@import '../../config.scss';

.mobile-nav{
  display: none;
}

.media-queries-container{
  @include page-view;
  overflow: hidden;
  // background: blue;
}


.desktop-nav{
  width: 100vw;
  height: 8vw;
  // background: pink;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $main-font;

  .nav-logo{
    font-size: 40px;
    margin-left: 25px;
  }

  .nav-links{
    width: 35vw;
    display: flex;
    justify-content: space-evenly;
    // background: pink;
  }

  li{
    font-size: 20px;

    &:hover{
      cursor: pointer;
      color: grey;
    }
  }
}

main{
  width: 100vw;
  height: 93vh;
  @include flex-center;
  flex-direction: column;;

  .main-upper{
    font-size: 100px;
    font-family: $main-font;
    width: 100vw;
    height: 100px;
    @include flex-center;
    // background: green;
  }
}

.main-lower{
  width: 100vw;
  height: 700px;
  // background: pink;
  @include flex-center;

  .main-img{
    width: 65vw;
    box-shadow: $shadow;
  }

}

//ipad
@media(max-width: 770px){
  main{
    width: 100vw;
    height: 55vh;
    margin-top: 50px;
  
    .main-upper{
      font-size: 100px;
      height: 100px;
    }
  }

  .main-lower{
    width: 100vw;
    height: 700px;
  
    .main-img{
      width: 85vw;
      box-shadow: $shadow;
    }
  }

}

//iphone x
@media(max-width:376px) {

  .desktop-nav{
    display: none;
  }


  .nav-links{
    width: 25vw;
    display: flex;
    justify-content: space-evenly;
  }

  .mobile-nav{
    display: flex;
    width: 100vw;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    // background: blue;

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80px;
      height: 50px;
      box-sizing: border-box;
      position: fixed;
      top: 55px;
      right: 15px;
      font-size: 12px;
      background: rgb(255, 255, 255);
      opacity: .85;
      z-index: 2;

      li{
        margin-right: 35px;
        color: black;
        z-index: 3;
      }

    }

    .mobile-nav-logo{

      p{
        font-size: 25px;
        margin-left: 30px;
      }
    }

    .nav-menu-icon{
      width: 30px;
      position: relative;
      right: 40px;
    }
  }

  main{
    height: 40vh;
    // background: pink;
  
    .main-upper{
      font-size: 50px;
      height: 80px;
      // background: green;
    }
  }

  .main-lower{
    width: 100vw;
    height: 500px;
    // background: pink;
    @include flex-center;
  
    .main-img{
      width: 85vw;
      box-shadow: $shadow;
    }
  
  }



}

