@import '../../config.scss';
@import url("https://fonts.googleapis.com/css?family=Montserrat:900");



.aloha-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .skill{
    margin: 10px


  }

  .skill:hover{
    @include hover-transform;
  }

}

.wrapper {
  animation: sliding-background 40s linear infinite;
  // background: url("https://images.unsplash.com/photo-1496737018672-b1a6be2e949c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1491&q=80") no-repeat left / 120%;
  background-image: linear-gradient(to bottom right, red,pink, yellow);
  height: 59.9vh;
  text-align: center;
  width: 80vw;
  border: 5px solid black;

  &:hover{
      background: url("https://images.unsplash.com/photo-1496737018672-b1a6be2e949c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1491&q=80") no-repeat left / 120%;
  }
}

.title {
  background: $primary;
  color: $secondary;
  font-family: "Montserrat", sans-serif;
  font-size: 250px;
  letter-spacing: 2vw;
  line-height: 30vh;
  margin: 0;
  mix-blend-mode: lighten;

}

@keyframes sliding-background {

  100% {
    background-position: 0 70%;
  }

  50% {
    background-position: 100% 70%;
  }
}
